/.ipynb_checkpoints
/.metadata
/Bai tap 1.pdf
/Bai tap 2.pdf
/BaiTap1_23673721.ipynb
/BaiTap2_23673721.ipynb
/Book
/Book.zip
/BT15_01
/BT_23673721
/BT_23673721.rar
/HCM _ Danh sách quán đóng_cửa Tết Nguyên Đán 2025 - Sheet1.csv
/HCM _ Danh sách quán đóng_cửa Tết Nguyên Đán 2025.xlsx
/HCM.ipynb
/Homew3
/Homework 3.pdf
/Huong dan upload du lieu len Colab.pdf
/hw5
/introds8_11.ipynb
/Lab1_23673721.ipynb
/LabTH2
/Lecture 4- Collection Data Types.pdf
/Lecture 4- Python File Operation.pdf
/Practice 1.pdf
/Practice 2.pdf
/Untitled.ipynb
/Untitled1.ipynb